/* HEADER */
header                      {width:inherit;clear:both;text-align:center;padding-top:40px;}
header img                  {max-width:100%;height:auto;}
header h1                   {@include headerStyle($red, 100, 4em)}
header h2                   {@include headerStyle($white, 900, 2.5em);margin-bottom:70px;}
header h3                   {@include headerStyle($gray, 400, 2em);margin-bottom:50px;}