@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* COLORS */
$white: #FFF; 
$red:#E65C43;
$gray: #666;
$headline-bg: #F25C43;
$greybar-bg: #F5F6F6;
$footer-bg: #30353D;

/* IMAGE PATH */
$imgPath: '../images'; 

/* WEB FONTS */
$font-body: 'Roboto'; 

/* PAGE WIDTH */
$main-width: 940px;